body{
    background-color: gray;
    color: aliceblue;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 
.a{
    width: 400px;
    border-radius: 15px;
    text-align: center;
    border: 10px solid black;
    background-color: black;
}
button{
    background-color: black;
    color: aliceblue;
    border:  1px solid aliceblue;
    border-radius: 10px;
    size: 50px;
}